// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#social-btn {
    background-color: #3b5998; /* blue */
    border: solid black 1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
}